# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data generated, too heavy for upload
*.csv

# Virtual envs
venv/
.env

# IDEs and Editors
.vscode/
.idea/